{%extends 'base.html'%}
{%block head%}
<title>Derm Detect</title>
{% endblock %}

{%block body%}
<div class="skindiseaseinformation_container">
    <div >
        <img src="{{url_for('static', filename='img/demodicosis.png')}}" alt="" width="350px">
    </div>
   
    <div>
        <h1 class="skindiseaseinformation_caption">Demodicosis</h1>
        <p class="skindiseaseinformation_paragraph"> Canine demodicosis is an inflammatory condition of the skin caused by increased numbers of <b><i>Demodex spp</i></b> mites that are normally present in low numbers in the hair follicles and sebaceous glands.
        </p>
    </div>
</div>

<div style="padding: 0px 50px">
    <div class="symptoms_skindiseaseinformation">
        Symptoms
    </div>

    <div class="card_wrapper_skindiseaseinformation">
        <div class="card_skindiseaseinformation">
            <div>
                <h2><b>Characterized by hair loss and the presence of dandruff</b></h2>
            </div>
        </div>

        <div class="card_skindiseaseinformation">
            <div>
                <h2><b> Red patches or simply reddish areas appear on the skin. May be localized in certain parts of the dog's body, 
                    such as around the lips (alopecia) and face, or spread over the entire skin surface</b></h2>
            </div>
        </div>

        <div class="card_skindiseaseinformation">
            <div>
                <h2><b>Skin redness, skin scaling, hair loss and bald spots</b></h2>
            </div>
        </div>

        <div class="card_skindiseaseinformation">
            <div>
                <h2><b>Skin lesions and sores along with foul odor that coming from the skin lesions</b></h2>
            </div>
        </div>
    </div>    
</div>

<div>
    <p class="prevention_skindiseaseinformation">Prevention</p>
</div>


<div style="padding-bottom: 35px;">
    <div class="prevention_step_skindiseaseinformation">
        <div>
        <p>Consult with veterinarian to obtain information about any treatment that may be appropriate for pet  based on the severity
            </p>
        </div>
    </div>

    <div class="prevention_step_skindiseaseinformation">
        <div>
        <p> Use benzoyl peroxide shampoos, dips, anti-parasitic medications, topical ointments to fight against demodicosis
            </p>
        </div>
    </div>


    <div class="prevention_step_skindiseaseinformation">
        <div>
        <p>Medication such as antibiotics to treat bacterial infections
            </p>
        </div>
    </div>

    </div>
{%endblock%}