{%extends 'base.html'%}
{%block head%}
<title>Derm Detect</title>
{% endblock %}

{%block body%}
<div class="ringworm_container">
    <div >
        <img src="{{url_for('static', filename='img/dermatitis.png')}}" alt="" width="350px">
    </div>
   
    <div>
        <h1 class="ringworm_caption">Dermatitis</h1>
        <p class="ringworm_paragraph"> 
            Dermatitis refers to a variety of issues that cause inflamed, often itchy, skin in dogs.
            It also refers to so many different conditions, there are many possible causes, such as irritants that touch the skin, burns, trauma, allergies, such as atopic dermatitis or food sensitivities, and systemic diseases, which are conditions that affect the whole body. 
            Infections can also cause dermatitis, and can be caused by bacteria, viruses, external parasites (like mites or fleas), or fungi (such as yeast).
        </p>
    </div>
</div>

<div style="padding: 0px 50px">
    <div class="symptoms_ringworm">
        Symptoms
    </div>

    <div class="card_wrapper_ringworm">
        <div class="card_ringworm">
            <div>
                <h2><b>Itching, scratching, and excessive licking or biting are common signs of dermatitis in dogs</b></h2>
            </div>
        </div>

        <div class="card_ringworm">
            <div>
                <h2><b>may start as a minor itch, but as the dog scratches, then chews and licks, they open the skin, introducing bacteria</b></h2>
            </div>
        </div>

        <div class="card_ringworm">
            <div>
                <h2><b>Small, pimple-like bumps erupt, burst open, and lead to crusting and scaling</b></h2>
            </div>
        </div>

    </div>    
</div>

<div>
    <p class="prevention_ringworm">Prevention</p>
</div>

<div class="prevention_step_ringworm">
    <div>
       <p>Reduce exposure of dogs to allergens
        </p>
    </div>
</div>

<div class="prevention_step_ringworm">
    <div>
       <p>Grooming is important to keep the health of dogs' skin
        </p>
    </div>
</div>

<div class="prevention_step_ringworm">
    <div>
       <p>Consult with veterinarian to obtain information about any treatment that may be appropriate for your pet 
        </p>
    </div>
</div>

<div class="prevention_step_ringworm">
    <div>
       <p>Bathing the dogs with hypoallergenic shampoo can soothe their itchy skin and brushing stimulates blood flow which may reduce inflammation.
        </p>
    </div>
</div>

{%endblock%}