{% extends 'base.html' %}
{%block head%}
<title>Derm Detect</title>
<link rel="stylesheet" href="https:://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
{% endblock %}

{%block body%}
<div>
    <h1 class="title">Upload the image of dog skin condition for detection</h1>
</div>


<div class="detection-body">
    <!-- reference from youtube videos: https://www.youtube.com/watch?v=nYjYs3Z6YwQ&list=PPSV -->
    <div class="container">
        <div class="box">
            <div class="upload-box">
                <i class="fa fa-cloud-upload"></i>
                <h3>Drag and drop your image file here</h3>
                <h4>Only support image file: PNG, JPEG</h4>
                <span class="or">OR</span>
                    <div class="input-box">
                        <label for="click">
                            BROWSE FILE
                            
                        </label>
                        <input type="file" id="click" accept="image/jpeg, image/png">
                    </div>
                <span class="size">Maximun Size:5 MB</span>
            </div>

            <div class="imgbox">
                <div class="imgiconbox">
                    <i class="fa-solid fa-file"></i> 
                </div>

                <div class="info-box">
                    <p class="file-name">index.html</p>
                    <div class="file-size">1 mb</div>
                </div>

                <button class="iconbox">
                    <i class="fa-solid fa-trash"></i>
                </button>
            </div>
        </div>
    </div>

</div>

<div>
      <button class="predict_button" onclick="predictDisease()" id="predictBtn">Predict</button>
</div>

<!-- Result box (hidden until prediction is made) -->
<!-- <div id="result-box" style="display:none; margin-top: 20px; text-align:center;">
    <h2>Detected Disease: <span id="disease-name" style="color: #e74c3c;"></span></h2>
    <p>Confidence: <span id="confidence-score"></span></p>
</div> -->

<script src="{{url_for('static',filename='browseFile.js')}}"></script>

<script>
    function predictDisease(){
        const fileInput = document.getElementById('click'); // input file uploaded by user

        if(!fileInput || !fileInput.files[0]){
            alert('Please upload an image');
            return;
        }

        const formData = new FormData();
        formData.append('file', fileInput.files[0]);

        document.getElementById('predictBtn').innerText = 'Predicting...';

        fetch('/predict',{
            method: 'POST',
            body: formData
        })
        .then(response => response.json())
        .then(data =>{
            if(data.error){
                alert('Error' + data.error);
            }else{
                // document.getElementById('disease-name').innerText = data.disease;
                // document.getElementById('confidence-score').innerText = data.confidence;
                // document.getElementById('result-box').style.display = 'block';
                window.location.href ='/result?disease=' +data.disease + '&confidence=' +data.confidence + '&image='+data.image_filename;
            }
            document.getElementById('predictBtn').innerText = 'Predict';
        })
        .catch(err =>{
            alert('Something went wrong:' + err);
            document.getElementById('predictBtn').innerText = 'Predict';
        })
    }
</script>
{% endblock %}

