{%extends 'base.html'%}
{%block head%}
<title>Derm Detect</title>
{% endblock %}

{%block body%}
<div class="ringworm_container">
    <div >
        <img src="{{url_for('static', filename='img/fungal-infection.png')}}" alt="" width="350px">
    </div>
   
    <div>
        <h1 class="ringworm_caption">Fungal infection</h1>
        <p class="ringworm_paragraph"> Some fungal infections in dogs, like ringworm, are contagious to humans and other animals.
            Common types of fungal infections in dogs include ringworm, yeast infections (fungal dermatitis), and systemic infections like blastomycosis, cryptococcosis, and aspergillosis.
            It could be cause the environmental factor as yeast thrives in hot and humid conditions, making such climates a risk factor for developing fungal skin infections in dogs
        </p>
    </div>
</div>

<div style="padding: 0px 50px">
    <div class="symptoms_ringworm">
        Symptoms
    </div>

    <div class="card_wrapper_ringworm">
        <div class="card_ringworm">
            <div>
                <h2><b>Hair loss in the affected areas, especially noticeable around the ears, armpits, and anal region</b></h2>
            </div>
        </div>

        <div class="card_ringworm">
            <div>
                <h2><b>Thickened skin with elephant-skin-like appearance</b></h2>
            </div>
        </div>

        <div class="card_ringworm">
            <div>
                <h2><b>Flaky, crusty, or scaly skin around the paws, nails, neck, and other sensitive areas</b></h2>
            </div>
        </div>

        <div class="card_ringworm">
            <div>
                <h2><b>Thickened skin with elephant-skin-like appearance </b></h2>
            </div>
        </div>

        <div class="card_ringworm">
            <div>
                <h2><b>Redness and inflammation, foul-smelling sticky discharge, particularly from the ears</b></h2>
            </div>
        </div>
    </div>    
</div>

<div>
    <p class="prevention_ringworm">Prevention</p>
</div>

<div style="margin-bottom: 40px;">
    <!-- <div class="prevention_step_ringworm">
        <div>
        <p>Use the medicated shampoos and dips  to treat the ringworm
            </p>
        </div>
    </div> -->

    <div class="prevention_step_ringworm">
        <div>
        <p>Always clean the pet's environment and make sure it is free from contamintation

            </p>
        </div>
    </div>

    <div class="prevention_step_ringworm">
        <div>
        <p>Regular grooming to removes dirt, debris, and dead hair that can cause blockages in your pet's pores
            </p>
        </div>
    </div>

    <div class="prevention_step_ringworm">
        <div>
        <p> Always make sure the pet is getting the proper nutrition
            </p>
        </div>
    </div>
</div>

{%endblock%}