{%extends 'base.html'%}
{%block head%}
<title>Derm Detect</title>
{% endblock %}

{%block body%}
<div class="skindiseaseinformation_container">
    <div >
        <img src="{{url_for('static', filename='img/hypersensitivity.png')}}" alt="" width="350px">
    </div>
   
    <div>
        <h1 class="skindiseaseinformation_caption">Hypersensitivity</h1>
        <p class="skindiseaseinformation_paragraph"> Hypersensitivity in dogs refer to an allergic reaction that happened in dogs which the immune system identifies allergen as threat. 
            This causes the inflammation, itching and other uncomfortable symptoms. 
            There are several types of the allergic reaction in dogs such as skin (atopic) allergies, food allergies, flea allergy dermatitis and others. 
            There are many factors contributing to this hypersensitivity  and the severity level depends on the extent and nature of the reaction.
        </p>
    </div>
</div>

<div style="padding: 0px 50px">
    <div class="symptoms_skindiseaseinformation">
        Symptoms
    </div>

    <div class="card_wrapper_skindiseaseinformation">
        <div class="card_skindiseaseinformation">
            <div>
                <h2><b>Red, inflamed, or flaky skin</b></h2>
            </div>
        </div>

        <div class="card_skindiseaseinformation">
            <div>
                <h2><b>Hair loss or hot spots</b></h2>
            </div>
        </div>

        <div class="card_skindiseaseinformation">
            <div>
                <h2><b>Ear infections or head shaking</b></h2>
            </div>
        </div>

        <div class="card_skindiseaseinformation">
            <div>
                <h2><b>Sudden facial or throat swelling or having difficulty breathing or wheezing </b></h2>
            </div>
        </div>
    </div>    
</div>

<div>
    <p class="prevention_skindiseaseinformation">Prevention</p>
</div>

<div style="padding-bottom: 35px;">
    <div class="prevention_step_skindiseaseinformation">
        <div>
        <p>Maintaining a  clean environment for dogs to live in by carrying out regular cleaning, air filtration to reduce environmental allergens</p>
        </div>
    </div>

    <div class="prevention_step_skindiseaseinformation">
        <div>
        <p>Ensuring a good diet and nutrition by feeding high quality meals to dog and handling food that dog is allergic to with caution</p>
        </div>
    </div>

    <div class="prevention_step_skindiseaseinformation">
        <div>
        <p>Consult with veterinarian the parasite control products that are safe to be applied on dogs </p>
        </div>
    </div>
</div>

{%endblock%}