{% extends 'base.html' %}
{%block head%}
<title>Derm Detect</title>
{% endblock %}

{%block body%}
<div class="home_container">
    <div>
        <h1 class="home_heading">Understanding Canine Skin Conditions</h1>
            <p class="home_paragraph"> Explore <b>comprehnensive information</b> on commin skin conditions affecting dogs. Understand
                their <b>causes, symptoms,</b> and <b>visual signs</b> to help  you recognize potential issues early 
                and make informed decisions about your pet's health.
            </p>        
    </div>

    <div class="home_img">
         <img src="{{url_for('static', filename='img/pic-information.png')}}" width="290px">
    </div>
</div>

<div >
    <h1 class="title">Common Skin Diseases In Dogs</h1>
    <ul class="cards">
        <li class="card">
            <div>
                <img src="{{url_for('static', filename='img/ringworm.png')}}" class="card-img">
                <h3 class="card-title">Ringworm</h3>
                <div class="card-content">Ringworm lesions usually appear as areas of hair loss (alopecia) that are rougly circular</div>
            </div>
            <div class="card-link-wrapper">
                <a href="" class="card-link">View Details</a>
            </div>
        </li>

        <li class="card">
            <div>
                 <img src="{{url_for('static', filename='img/hypersensitivity.png')}}" class="card-img">
                <h3 class="card-title">Hypersensitivity</h3>
                <div class="card-content">Ringworm lesions usually appear as areas of hair loss (alopecia) that are rougly circular</div>
            </div>
            <div class="card-link-wrapper">
                <a href="" class="card-link">View Details</a>
            </div>
        </li>

        <li class="card">
            <div>
                <img src="{{url_for('static', filename='img/dermatitis.png')}}" class="card-img">
                <h3 class="card-title">Dermatitis</h3>
                <div class="card-content">Ringworm lesions usually appear as areas of hair loss (alopecia) that are rougly circular</div>
            </div>
            <div class="card-link-wrapper">
                <a href="" class="card-link">View Details</a>
            </div>
        </li>

        <li class="card">
            <div>
                 <img src="{{url_for('static', filename='img/demodicosis.png')}}" class="card-img">
                <h3 class="card-title">Demodicosis</h3>
                <div class="card-content">Ringworm lesions usually appear as areas of hair loss (alopecia) that are rougly circular</div>
            </div>
            <div class="card-link-wrapper">
                <a href="" class="card-link">View Details</a>
            </div>
        </li>

        <li class="card">
            <div>
                <img src="{{url_for('static', filename='img/fungal-infection.png')}}" class="card-img">
                <h3 class="card-title">Fungal Infections</h3>
                <div class="card-content">Ringworm lesions usually appear as areas of hair loss (alopecia) that are rougly circular</div>
            </div>
            <div class="card-link-wrapper">
                <a href="" class="card-link">View Details</a>
            </div>
        </li>
    </ul>
</div>

{% endblock %}