{% extends 'base.html' %}
{%block head%}
<title>Derm Detect</title>
{% endblock %}

{%block body%}
<div class="home_container">
    <div>
        <h1 class="home_heading">Understanding Canine Skin Conditions</h1>
            <p class="home_paragraph"> Explore <b>comprehnensive information</b> on commin skin conditions affecting dogs. Understand
                their <b>causes, symptoms,</b> and <b>preventions</b> to help  you recognize potential issues early 
                and make informed decisions about your pet's health.
            </p>        
    </div>

    <div class="home_img">
         <img src="{{url_for('static', filename='img/pic-information.png')}}" width="290px">
    </div>
</div>

<div >
    <h1 class="title">Common Skin Diseases In Dogs</h1>
    <ul class="cards_information">
        <li class="card_information">
            <div>
                <img src="{{url_for('static', filename='img/ringworm.png')}}" class="card-img">
                <h3 class="card-title_information">Ringworm</h3>
                <div class="card-content_information">Ringworm is an infection of skin, hair, or claws caused by a type of fungus.Ringworm lesions usually appear as areas of hair loss (alopecia) that are rougly circular.</div>
            </div>
            <div class="card-link-wrapper_information">
                <a href="{{url_for('ringworm')}}" class="card-link_information">View Details</a>
            </div>
        </li>

        <li class="card_information">
            <div>
                 <img src="{{url_for('static', filename='img/hypersensitivity.png')}}" class="card-img">
                <h3 class="card-title_information">Hypersensitivity</h3>
                <div class="card-content_information">Hypersensitivity is known as allergic reaction in the dogs. It normally starts with something small like a quick scratch behind the ear, a few sneezes after playing outside, or a patch of red skin.</div>
            </div>
            <div class="card-link-wrapper_information">
                <a href="{{url_for('hypersensitivity')}}" class="card-link_information">View Details</a>
            </div>
        </li>

        <li class="card_information">
            <div>
                <img src="{{url_for('static', filename='img/dermatitis.png')}}" class="card-img">
                <h3 class="card-title_information">Dermatitis</h3>
                <div class="card-content_information"> Dermatitis refers to a variety of issues that cause inflamed, often itchy, skin in dogs and may occur because of secondary bacterial infections.</div>
            </div>
            <div class="card-link-wrapper_information">
                <a href="{{url_for('dermatitis')}}" class="card-link_information">View Details</a>
            </div>
        </li>

        <li class="card_information">
            <div>
                 <img src="{{url_for('static', filename='img/demodicosis.png')}}" class="card-img">
                <h3 class="card-title_information">Demodicosis</h3>
                <div class="card-content_information">Canine demodicosis is dermatological disease that happened when mites colonize the hair follicles, sebaceous glands.</div>
            </div>
            <div class="card-link-wrapper_information">
                <a href="{{url_for('demodicosis')}}" class="card-link_information">View Details</a>
            </div>
        </li>

        <li class="card_information">
            <div>
                <img src="{{url_for('static', filename='img/fungal-infection.png')}}" class="card-img">
                <h3 class="card-title_information">Fungal Infections</h3>
                <div class="card-content_information">Fungal infections in dogs can be categorised into two board groups which are superficial and artificial. This disease in dogs can manifest in a variety of ways, depending on the type and severity of the infection.</div>
            </div>
            <div class="card-link-wrapper_information">
                <a href="{{url_for('fungal_infection')}}" class="card-link_information">View Details</a>
            </div>
        </li>
    </ul>
</div>

{% endblock %}