{%extends 'base.html'%}
{%block head%}
<title>Derm Detect</title>
{% endblock %}

{%block body%}
<div class="ringworm_container">
    <div >
        <img src="{{url_for('static', filename='img/ringworm.png')}}" alt="" width="350px">
    </div>
   
    <div>
        <h1 class="ringworm_caption">Ringworm</h1>
        <p class="ringworm_paragraph"> Ringworm is an infection of skin, hair, or claws caused by a type of fungus. 
            In dogs, about 70% of ringworm cases are caused by the <b>fungus Microsporum canis</b>, 20% by <b>Microsporum gypseum</b>, and 10% by <b>Trichophyton mentagrophytes</b>
            Most cases of ringworm are spread by contact with infected animals or contaminated objects such as furniture or grooming tools.
            Apart from that, broken hairs with associated spores are important sources for spread of the disease.
        </p>
    </div>
</div>

<div style="padding: 0px 50px">
    <div class="symptoms_ringworm">
        Symptoms
    </div>

    <div class="card_wrapper_ringworm">
        <div class="card_ringworm">
            <div>
                <h2><b>Bald, scaly and circular patches with broken hairs and may also develop acne-like bumps on the skin.</b></h2>
            </div>
        </div>

        <div class="card_ringworm">
            <div>
                <h2><b>Most common sites affected by ringworm are the face, ear tips, tail, and feet</b></h2>
            </div>
        </div>

        <div class="card_ringworm">
            <div>
                <h2><b>Fragile, easily broken hair shafts that typically do not itch</b></h2>
            </div>
        </div>

        <div class="card_ringworm">
            <div>
                <h2><b>Brittle, rough claws, Inflamed or scabbed skin </b></h2>
            </div>
        </div>
    </div>    
</div>

<div>
    <p class="prevention_ringworm">Prevention</p>
</div>


<div style="padding-bottom: 35px;">
    <div class="prevention_step_ringworm">
        <div>
        <p>Use the medicated shampoos and dips  to treat the ringworm
            </p>
        </div>
    </div>

    <div class="prevention_step_ringworm">
        <div>
        <p>Use diluted bleach to clean the pet's environment

            </p>
        </div>
    </div>

    <div class="prevention_step_ringworm">
        <div>
        <p>Consult with veterinarian to obtain information about any treatment that may be appropriate for your pet 
            </p>
        </div>
    </div>

    <div class="prevention_step_ringworm">
        <div>
        <p>Oral medications are needed in longterm or severe cases 
            </p>
        </div>
    </div>
</div>


{%endblock%}